.user-card {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  padding: 16px 10px;
  border-radius: 15px;
  border: 0.5px solid #c5c5c5;
  background: rgba(69, 95, 169, 0.2);
}

.user-card-blocked {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  padding: 16px 10px;
  border-radius: 15px;
  border: 0.5px solid #c5c5c5;
  background: rgba(146, 69, 169, 0.2);
}

.user-info {
  border-radius: 10px;
  background: rgba(69, 95, 169, 0.2);
  padding: 10px;
  width: 100%;
  margin: 0 12px;
}

.user-info-blocked {
  border-radius: 10px;
  background: rgba(146, 69, 169, 0.2);
  padding: 10px;
  width: 100%;
  margin: 0 12px;
}

.user-avatar {
  border-radius: 70px;
  object-fit: cover;
  min-width: 70px;
  height: 70px;
}

.user-avatar-admin {
  border-radius: 70px;
  border: 3px solid #31d0d9;
  object-fit: cover;
  min-width: 70px;
  height: 70px;
}

.user-actions {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.user-name {
  font-family: var(--secondary-font);
  font-size: 16px;
  font-weight: 600;
}

.user-email {
  font-family: var(--secondary-font);
  font-size: 12px;
  font-weight: 400;
}

.avatar-container {
  position: relative;
  min-width: 70px;
  height: 70px;
}

.badge {
  position: absolute;
  height: 2rem;
  width: 2rem;
  top: -0.5rem;
  right: -0.5rem;
  border-radius: 50%;
}
