* {
  background-color: rgb(0, 0, 0);
  color: white;
}

.carousel {
  background-color: rgba(222, 205, 205, 0.5);
}
.thumbs-wrapper {
  display: none;
}
.carousel-status {
  display: none;
}

.image-items {
  border-radius: 50px;
}
