.carousel-video {
  display: flex;
  overflow-x: auto;
  gap: 20px;
  padding: 20px;
  scrollbar-width: none;
  justify-content: flex-start;
  flex: 1;
}

.video-card {
  width: 280px;
}

.carousel-video::-webkit-scrollbar {
  display: none;
}

.image-video {
  width: 280px;
  height: 150px;
  object-fit: cover;
  object-position: center;
  border-radius: 10px;
  cursor: pointer;
}

.title-video {
  font-family: var(--primary-font);
  color: var(--primary-text-color);
  font-size: 18px;
  margin-top: 10px;
}

.category-video {
  font-style: normal;
  font-family: var(--primary-font);
  background-color: rgba(210, 90, 176, 0.15);
  color: rgba(255, 255, 255, 0.8);
  width: auto;
  border-radius: 15px;
  padding: 5px;
  font-size: 12px;
}

.category-video-container {
  margin-top: 10px;
  display: flex;
  flex-wrap: wrap;
  gap: 6px;
}

.no-videos-message {
  font-family: var(--primary-font);
  color: var(--primary-text-color);
  font-size: 16px;
  text-align: center;
  width: 100%;
  padding: 20px;
}

.carousel-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  overflow: hidden;
  position: relative;
  height: 250px;
  align-items: flex-start;
  justify-content: flex-start;
}

.container-scroll-button-right {
  height: 100%;
  display: flex;
  align-items: center;
  min-width: 30px;
  justify-content: center;
  cursor: pointer;
}

.scroll-button-right {
  all: unset;
  height: 100%;
  cursor: pointer;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.container-scroll-button-left {
  height: 100%;
  display: flex;
  align-items: center;
  min-width: 30px;
  justify-content: center;
  cursor: pointer;
}

.container-scroll-button-left:hover {
  background-color: rgba(107, 107, 107, 0.754);
}

.container-scroll-button-right:hover {
  background-color: rgba(107, 107, 107, 0.754);
}

.scroll-button-left {
  height: 100%;
  all: unset;
  cursor: pointer;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

@media screen and (max-width: 1000px) {
  .container-scroll-button-right {
    display: none;
  }

  .container-scroll-button-left {
    display: none;
  }
}
