.modal-forgot-password {
  background-color: rgba(211, 211, 211, 0.199);
  border-radius: 30px;
  border-color: white;
  backdrop-filter: blur(10px);
  padding: 40px;
  width: 90%;
  max-width: 400px;
  margin: auto;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.5);
  z-index: 1000;
  text-align: center;
}

.forgot-password-title {
  font-family: var(--secondary-font);
  color: white;
  font-size: 25px;
  font-weight: bold;
  margin-bottom: 10px;
}

.forgot-password-text {
  font-family: var(--secondary-font);
  color: white;
  font-size: 13px;
  margin-bottom: 20px;
}

.email-input-forgot-password {
  font-family: var(--secondary-font);
  background: rgba(255, 255, 255, 0.1);
  border: 1px solid rgba(255, 255, 255, 0.4);
  border-radius: 25px;
  padding: 12px;
  font-size: 16px;
  color: white;
  width: 100%;
  margin-bottom: 20px;
  outline: none;
  transition: border 0.3s ease, background-color 0.3s ease;
  margin-bottom: 20px;
}

.email-input-forgot-password::placeholder {
  color: white;
}

.send-email-button {
  font-family: var(--secondary-font);
  background-color: #88c0d0;
  color: black;
  border: none;
  border-radius: 25px;
  padding: 12px;
  font-size: 16px;
  width: 100%;
  cursor: pointer;
  outline: none;
  transition: background-color 0.3s ease;
}

.send-email-button:hover {
  background-color: #acfcff;
}

.login-link-forgot-password {
  font-family: var(--secondary-font);
  display: block;
  color: white;
  margin-bottom: 20px;
  font-size: 14px;
  flex-wrap: nowrap;
  text-align: center;
  text-decoration: none;
  margin-bottom: 20px;
  margin-top: 20px;
}
