.logo-header {
  background-color: #121221;
  color: rgb(255, 255, 255);
  font-family: Audiowide, sans-serif;
  font-size: 10px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  display: flex;
  align-items: center;
}

.logo-icon {
  width: 70px;
  height: auto;
}

.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 10px;
}

.view-text {
  text-decoration: none;
  font-family: var(--primary-font);
}
