.container {
  min-height: 100vh;
  width: 100%;
  position: relative;
}

.carrousel-section {
  padding: 20px 0;
}

.title-home-screen {
  font-family: var(--primary-font);
  color: white;
  font-size: 32px;
  text-align: center;
}

.text-home-screen {
  font-family: var(--primary-font);
  color: white;
  font-size: 16px;
  text-align: center;
}

.intro {
  padding: 20px;
  font-size: 20px;
  max-width: 800px;
  margin: 0 auto;
}

@media (min-width: 768px) {
  .intro {
    padding: 30px 40px;
    font-size: 24px;
  }
}

.button-access {
  border-style: none;
  border-radius: 50px;
  background-color: var(--transparence-color);
  padding: 10px;
  font-size: 16px;
  cursor: pointer;
  width: 190px;
  transition: transform 0.2s ease;
}

.button-access:hover {
  transform: scale(1.05);
}

.subscription-section {
  background-color: rgba(217, 217, 217, 0.1);
  backdrop-filter: blur(50px);
  padding: 20px;
  margin: 20px;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

@media (min-width: 768px) {
  .subscription-section {
    margin: 40px;
    padding: 40px;
  }
}

.bg-img {
  height: 24vh;
  width: 100%;
  object-position: top;
  object-fit: cover;
}

@media (min-width: 768px) {
  .bg-img {
    height: 35vh;
  }
}

.connection-nav {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  margin-top: 20px;
}

@media (min-width: 768px) {
  .connection-nav {
    flex-direction: row;
    justify-content: center;
    gap: 40px;
  }
}

.text-button {
  font-style: normal;
  color: white;
  text-decoration: none;
  font-family: "Exo", sans-serif;
}

.visitor-button {
  border-radius: 50px;
  background-color: var(--transparence-color);
  padding: 10px;
  font-size: 16px;
  cursor: pointer;
  width: 190px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: transform 0.2s ease;
}

.visitor-button:hover {
  transform: scale(1.05);
}

/* Ajout des styles pour le carrousel */
.carrousel-container {
  width: 100%;
  overflow: hidden;
  margin: 0 auto;
}

@media (min-width: 768px) {
  .carrousel-container {
    max-width: 90%;
  }
  .bg-img {
    display: none;
  }
}

@media (min-width: 1024px) {
  .carrousel-container {
    max-width: 80%;
  }
}

@media (min-width: 768px) {
  .carrousel-container {
    max-width: 90%;
  }
}
