.container {
  background-image: linear-gradient(
      to bottom,
      rgba(18, 18, 33, 0) 0%,
      rgba(18, 18, 33, 0) 30%,
      rgba(18, 18, 33, 0.6) 40%,
      rgba(18, 18, 33, 0.8) 60%,
      rgba(18, 18, 33, 0.85) 80%,
      rgba(18, 18, 33, 0.95) 90%,
      #121221 100%
    ), url(../assets/images/bg-img-cateory.png);
  background-size: fit;
  background-position: top center;
  background-repeat: no-repeat;
  width: 100%;
  min-height: 100vh;
  position: relative;
  padding-bottom: 2rem;
}

@media (min-width: 768px) {
  .container {
    background-size: cover;
    min-width: 100%;
    padding-left: 20px;
  }
}

.title-home-page {
  font-family: var(--primary-font);
  font-weight: 400;
  font-size: 32px;
  margin-left: 30px;
  margin-top: 30px;
  position: relative;
}

hr {
  border: none;
  border-top: 1px solid #ffffff;
  margin: 5px 0;
  position: relative;
}
