.nav-bar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 10px;
  border-radius: 50px;
  background: rgba(211, 211, 211, 0.306);
  backdrop-filter: blur(2px);
  position: fixed;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  width: 90%;
  max-width: 400px;
  z-index: 2;
}

.reduced-navbar-size {
  padding: 5px;
  width: 70%;
  max-width: 400px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-radius: 50px;
  background: rgba(211, 211, 211, 0.306);
  backdrop-filter: blur(2px);
  position: fixed;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 2;
}

.nav-icon {
  width: 30px;
  height: 30px;
  cursor: pointer;
}

.nav-icon:hover {
  transform: scale(1.1);
  filter: hue-rotate(75deg);
}

.nav-icon-profile-style {
  width: 30px;
  height: 30px;
  border-radius: 50px;
  border: 3px solid #31d0d9;
  cursor: pointer;
}

.nav-bar-container {
  margin-top: 80px;
}

.close {
  position: absolute;
  top: 10px;
  right: 10px;
  background: none;
  border: none;
  font-size: 24px;
  cursor: pointer;
  font-weight: 700;
  margin-right: 15px;
  margin-top: 5px;
}
