.categories-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(330px, 1fr));
  gap: 20px;
  padding: 20px;
  direction: rtl;
}

.category {
  display: inline-block;
  padding: 8px 16px;
  background-color: rgba(47, 57, 65, 0.5);
  border-radius: 25px;
  font-family: var(--primary-font);
  font-size: 12px;
  font-weight: 500;
  color: white;
  transition: all 0.3s ease;
  text-align: center;
  min-width: 120px;
  margin: 5px;
}

.category:hover {
  background-color: var(--button-color);
  transform: translateY(-2px);
}

.category.active {
  background-color: var(--button-color);
  color: var(--secondary-text-color);
}

.button-add-playlist {
  background-color: var(--button-color);
  color: var(--secondary-text-color);
  font-family: var(--primary-font);
  font-size: 16px;
  border: none;
  padding: 10px 20px;
  border-radius: 10px;
  height: 45px;
  display: flex;
  align-items: center;
}
.input-add-playlist {
  background-color: var(--transparence-color);
  color: var(--primary-text-color);
  font-family: var(--primary-font);
  font-size: 16px;
  border: none;
  padding: 10px 20px;
  border-radius: 10px;
  height: 45px;
}
.playlist-card {
  display: flex;
  flex-direction: row;
  gap: 30px;
  justify-content: space-between;
  margin-left: 10px;
  margin-right: 10px;
}
.playlist-card > button {
  all: unset;
}
.playlist-name {
  font-family: var(--primary-font);
  color: var(--primary-text-color);
  font-size: 16px;
  margin-top: 10px;
  background-color: var(--transparence-color);
  border-radius: 10px;
  padding-left: 10px;
  padding-right: 10px;
}
.playlist-name:hover {
  background-color: var(--button-color);
  color: var(--secondary-text-color);
}
.container-playlists {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.form-add-playlist {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin: 20px auto;
  padding-top: 15px;
  width: 80%;
  max-width: 600px;
}

.video-title-playlist {
  font-family: var(--primary-font);
  color: var(--primary-text-color);
  font-size: 18px;
  font-weight: 600;
  margin: 10px 0;
  text-align: left;
  width: calc(100% - 50px);
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  order: 2;
}
.video-card-playlist {
  direction: ltr;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  justify-content: space-between;
  margin: 40px 10px;
  text-align: center;
  padding: 15px;
  border-radius: 15px;
  width: 330px;
}
.picture-video-playlist {
  width: 100%;
  aspect-ratio: 16 / 9;
  object-fit: cover;
  border-radius: 20px;
  margin: 0;
  order: 1;
}
.button-delete-video-playlist {
  position: absolute;
  bottom: 25px;
  right: 25px;
  width: 35px;
  height: 35px;
  background: none;
  border: none;
  padding: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.delete-icon {
  width: 25px;
  height: 25px;
  filter: invert(79%) sepia(53%) saturate(845%) hue-rotate(328deg)
    brightness(101%) contrast(97%);
  transition: transform 0.2s ease;
}
.delete-icon:hover {
  transform: scale(1.1);
}
.back-playlist-button {
  background-color: var(--button-color);
  color: var(--secondary-text-color);
  font-family: var(--primary-font);
  font-size: 16px;
  border: none;
  border-radius: 10px;
  padding: 2px 10px;
  margin-top: 10px;
  margin-bottom: 20px;
  cursor: pointer;
}
.playlists-container {
  position: relative;
  font-family: "Exo", sans-serif;
  font-weight: 100;
  padding: 20px;
  height: 100vh;
  overflow-x: hidden;
}
.playlists-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}
.title-playlists-page {
  font-size: 24px;
  font-weight: 200;
  font-family: "Exo", sans-serif;
}
.line {
  border: 1px solid white;
  opacity: 1;
  margin: 10px 0;
}
