.search-bar {
  background-color: rgba(211, 211, 211, 0.199);
  color: white;
  border-radius: 50px;
  display: flex;
  align-items: center;
  padding: 5px 20px;
  width: 90%;
  margin: 0 auto;
  opacity: 1;
}

.search-input {
  background: transparent;
  border: none;
  padding: 8px;
  color: white;
  font-size: 16px;
  outline: none;
  opacity: 1;
  width: 100%;
}

.magnifying-glass {
  width: 15px;
  height: 15px;
}
.button-submit {
  all: unset;
  cursor: pointer;
}
.form-search {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}
.results-search {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 100%;
  margin-top: 30px;
  align-items: center;
}
.picture-video-search {
  width: 95%;
  border-radius: 20px;
}
.result-item {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  border-radius: 20px;
  border: 1px solid rgba(211, 211, 211, 0.523);
  width: 95%;
}
.title-video-search {
  font-family: var(--primary-font);
  font-weight: 700;
  font-size: 22px;
}
