.modal-user-signup {
  background-color: rgba(211, 211, 211, 0.199);
  border-radius: 30px;
  border-color: white;
  backdrop-filter: blur(20px);
  padding: 40px;
  width: 90%;
  max-width: 400px;
  margin: auto;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.5);
  z-index: 1000;
  text-align: center;
}

.signup-title {
  font-family: var(--secondary-font);
  color: white;
  font-size: 30px;
  font-weight: bold;
  margin-bottom: 30px;
}

.pseudo-input-signup,
.email-input-signup,
.password-input-signup,
.confirm-password-input-signup {
  font-family: var(--secondary-font);
  background: rgba(255, 255, 255, 0.1);
  color: white;
  border: 1px solid rgba(255, 255, 255, 0.4);
  border-radius: 25px;
  padding: 12px;
  font-size: 16px;
  width: 100%;
  margin-bottom: 20px;
  outline: none;
  transition: border 0.3s ease, background-color 0.3s ease;
  margin-bottom: 20px;
}

.pseudo-input-signup::placeholder,
.email-input-signup::placeholder,
.password-input-signup::placeholder,
.confirm-password-input-signup::placeholder {
  color: white;
}

.pseudo-input-signup:focus,
.email-input-signup:focus,
.password-input-signup:focus,
.confirm-password-input-signup:focus {
  border: 1px solid rgba(255, 255, 255, 0.8);
  background-color: rgba(255, 255, 255, 0.2);
}

.signup-button {
  font-family: var(--secondary-font);
  background-color: #88c0d0;
  border: none;
  margin-top: 15px;
  border-radius: 25px;
  padding: 12px;
  font-size: 16px;
  color: #121221;
  width: 100%;
  transition: background-color 0.3s ease;
}

.signup-button:hover {
  background-color: #acfcff;
}

.login-link-signup {
  font-family: var(--secondary-font);
  margin-top: 10px;
  font-size: 14px;
  color: rgba(255, 255, 255, 0.8);
}

.login-link {
  color: #dd25b6;
  text-decoration: none;
}

@keyframes scaleIn {
  0% {
    transform: translate(-50%, -50%) scale(0.8);
    opacity: 0;
  }
  100% {
    transform: translate(-50%, -50%) scale(1);
    opacity: 1;
  }
}

.modal-user-signup {
  animation: scaleIn 0.4s ease-out;
}
